    nav{
        display: flex;
        list-style: none;
        background-color: aquamarine  ;
        color: brown;
        justify-content: space-around;
        /* height: 30px;
        padding: 10px; */
    }
    *{
        margin: 0px;
        padding: 0px;
    }
   