/* li{
    display: inline-block;
    padding-right:13px ;
    margin-top: 20px;

} */
body{
    margin: 0%;
}
nav{
    display: flex;
    list-style-type: none;
    justify-content:space-evenly;
    /* border: 7px solid black; */
    background-color:darkslategray;
    padding: 30px;
}
.link{
    text-decoration:none;
    color:#fff;
    font-size: 25px;
}
.link:hover{
    /* text-decoration:underline; */
    background-color:cadetblue;
    border-radius:7px;
    padding: 3px;
}
ol{
    display: inline;
}
header{
    background-color:darkslategray;
}
h1{
    display: inline-block;
}
.link-inside{
    display: flex;
    text-decoration: dashed;
    background-color: aliceblue;
}
.container{
    display: grid;
    grid-template-columns:repeat(4,1fr);
    background-color: rgb(17, 36, 36);
    padding: 30px;
    /* margin: 2px; */
    height: 900px;
    border: black;

}
.grid-items{
    background-color: rgb(21, 1, 1);
    color: bisque;
    text-align: center;
    margin: 2px;
    height: 190px;
    /* width: 500px; */
    font-size: 15px;


}
img{
    /* padding: 10px; */
    height: 190px;
    /* width: 200px; */
    
}
@media screen and (max-width:675px) {
    body{
        margin: 0%;
    }
    nav{
        display: flex;
        flex-direction:column ;
        list-style-type: none;
        justify-content:space-evenly;
        /* border: 7px solid black; */
        background-color:darkslategray;
        padding: 30px;
    }
    .link{
        text-decoration:none;
        color:#fff;
        font-size: 25px;
    }
    .link:hover{
        /* text-decoration:underline; */
        background-color:cadetblue;
        border-radius:7px;
        padding: 3px;
    }
    ol{
        display: inline;
    }
    header{
        background-color:darkslategray;
    }
    h1{
        display: inline-block;
    }
    .link-inside{
        display: flex;
        text-decoration: dashed;
        background-color: aliceblue;
    }
    .container{
        display: grid;
        grid-template-columns:repeat(4,1fr);
        background-color: rgb(17, 36, 36);
        padding: 30px;
        /* margin: 2px; */
        height: 900px;
        border: black;
    
    }
    .grid-items{
        background-color: rgb(21, 1, 1);
        color: bisque;
        text-align: center;
        margin: 2px;
        height: 190px;
        /* width: 500px; */
        font-size: 15px;
    
    
    }
    img{
        /* padding: 10px; */
        height: 190px;
        /* width: 200px; */
        
    }
    
    
}
