

.external{
    height: 250px;
    color:brown;
    background-color: blueviolet;
    
    
}
#idSelector{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1rem;

}
ol{
    margin-top: 30px;
    list-style-type: disc;
    color: burlywood;
    background-color:grey;
}
*{
    background-color: black;
}
